
<% counter = 0 %>
<div class ="moleculeSelectorSection">
	<div class="row">

		<% @molecules.each do |molecule| %>
			<% counter = counter + 1 %>
			
			<% if counter % 3 == 1 %>
				<%= link_to molecule, class: 'col-md-3 boxed firstBox', :action => 'go' do %>
					<p><%=molecule.name%></p>
				<% end %>
			<% else %>
				<%= link_to molecule, class: 'col-md-3 boxed', :action => 'go' do %>
					<p><%=molecule.name%></p>
				<% end %>
			<% end %>
			
			<% if counter % 3 == 0 %>
				</div>
				<div class="row">
			<% end %>
			

		<% end %>
	</div>
</div>






 


