.boxed {
	font-family: 'Montserrat', sans-serif;
	color: #2dbcf0;
	border: 2px solid white;
	background-color: white;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin: 10px;


}

.firstBox {
	margin-left: 110px;
}

.doneBox {
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: 2px solid #2dbcf0;
	background-color: #2dbcf0;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin: 10px;
}

/* unvisited link */
a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

.molecule_formula {

	font-size: 35px;
}

.molecule_name {

	font-size: 18px;
}

.moleculeTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
	text-align: center;

}

.menuButton {
  color: white;
  background-color: #2dbcf0;
  border: 2px solid white;
  font-family: 'Montserrat', sans-serif;
	font-size: 14px;
  letter-spacing: 3px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);

}

.buttonSection {

	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.moleculeSelectorSection {
	width: 100%;
  height: 600px;
  overflow-x: hidden;
  overflow-x: auto;
}
