.boxed {
	font-family: 'Montserrat', sans-serif;
	color: #2dbcf0;
	border: 2px solid white;
	background-color: white;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    margin: 10px;
    

}

.firstBox {
	margin-left: 110px;
}

/* unvisited link */
a:link {
    color: #2dbcf0;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #2dbcf0;
    text-decoration: none;
}

.molecule_formula {
	
	font-size: 35px;
}

.molecule_name {
	
	font-size: 18px;
}

.moleculeTitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: white;
	text-align: center;

}