/* Some CSS styling */
body {
    background-color: #2dbcf0;
    margin: 0; height: 100%; overflow: hidden;
}

.sketchbody {
    overflow: hidden;
    background-color: #f5f5f5;
}

#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;

}

 .moleculeHeader {

    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-size: 15px;
    color: #2dbcf0;
    padding-bottom: 5px;
    padding-top: 5px;
 }

 .moleculeInfoName {
  font-family: 'Montserrat', sans-serif;
 	font-size: 18px;
 	color: #2dbcf0;
 	text-align: center;
 }

 #moleculeInfo {
  font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #2dbcf0;
	text-align: center;
 }


#sketchpad {
    float:left;

    margin-left: 50px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

.menu {

    margin-top: 15px;
}






.button {
    background-color: #2dbcf0;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    color: white;
    padding: 10px;
    padding-right: 10px;
    padding-left: 10px;

    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;

    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.backButton {
  color: white;
  background-color: #2dbcf0;
  border: 2px solid #2dbcf0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);

  margin: 150px;

}

.backButtonSection {
  margin-top: 50px;
}

.colorBlue {
  color: #2dbcf0;
}

.colorWhite {
  color: white;
}

.resultBox {

  font-family: 'Montserrat', sans-serif;
	text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;



}

.correctStatus {
  text-align: center;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;
  display: block;
  margin: 0 auto;
}

.resultMiniBox {

  text-align: center;

  display: block;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;


}

.correctBox {
  font-family: 'Montserrat', sans-serif;
	color: white;
	border: 2px solid #2dbcf0;
	background-color: #2dbcf0;
  font-size: 12px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.incorrectBox {
  font-family: 'Montserrat', sans-serif;
	color: #2dbcf0;
	border: 2px solid white;
	background-color: white;
  font-size: 12px;
	box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}
